#main-container {
  text-align: center;
  width: 100%;
}

#grid-and-buttons {
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  width: 627px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: none;
}

#buttons {
  float: left;
}

#buttons > button {
  display: block;
  border: 1px solid black;
  padding: 3px 5px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 32px;
}

#buttons > button:last-child {
  margin-bottom: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#grid {
  float: left;
  width: 480px;
  height: 100%;
  cursor: pointer;
}

.cell {
  width: 25px;
  height: 25px;
  margin: 0 1px 0 1px;
  border: 1px solid black;
  display: inline-block;
}

.active {
  background-color: red;
}

.highlight {
  background-color: black;
}

input {
  display: inline-block;
}

#clear-and-slider {
  text-align: center;
}
