body {
  background-color: #1a2322;
}

#main-container {
  text-align: center;
  width: 100%;
}

#grid-and-buttons {
  display: inline-block;
  border: 2px solid #868e8d;
  padding: 5px;
  width: 600px;
  border-radius: 4px;
  background-color: #2d1a6d;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 10px;
  color: #868e8d;
}

button {
  user-select: none;
  border: 1px solid #585e68;
  padding: 3px 5px;
  background-color: #80011e;
  color: #eadbdb;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  // margin-left: 50px;
}

button:active {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

#buttons {
  float: left;
}

#buttons > button {
  display: block;
  border: 1px solid #585e68;
  padding: 3px 5px;
  background-color: #2b3f5f;
  color: #adacac;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 24px;
  transition: background-color .25s ease-in-out;
}

#buttons > .button.selected {
  background-color: #4ca93c;
  color: #3c3030;
}

#buttons > button:last-child {
  margin-bottom: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#grid {
  border: 1px solid #868e8d;
  float: left;
  width: 432px;
  height: 100%;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 4px;
}

.cell {
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin: 1px;
  display: inline-block;
  background-color: #777f8c;
  opacity: 0;
  transition: opacity .5s linear;
  border-radius: 2px;
}

.active {
  background-color: red;
  opacity: .3;
}


.highlight {
  opacity: 1;
}

input {
  display: inline-block;
}

#clear-and-slider {
  text-align: center;
}

input {
  -webkit-appearance: none;
  width: 200px;
  margin: 7.8px 30px 7.8px 0;
  background-color: transparent;
}
input:focus {
  outline: none;
}
input::-webkit-slider-runnable-track {
  width: 200px;
  height: 10.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #3071a9;
  border-radius: 6.5px;
  border: 0.7px solid #010101;
}
input::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 39px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input:focus::-webkit-slider-runnable-track {
  outline: none;
}
input::-moz-range-track {
  width: 200px;
  height: 10.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #3071a9;
  border-radius: 6.5px;
  border: 0.7px solid #010101;
}
input::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 39px;
  background: #ffffff;
  cursor: pointer;
}
input::-ms-track {
  width: 200px;
  height: 10.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input::-ms-fill-lower {
  background: #2a6495;
  border: 0.7px solid #010101;
  border-radius: 13px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input::-ms-fill-upper {
  background: #3071a9;
  border: 0.7px solid #010101;
  border-radius: 13px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 39px;
  background: #ffffff;
  cursor: pointer;
  height: 10.4px;
}
input:focus::-ms-fill-lower {
  background: #3071a9;
}
input:focus::-ms-fill-upper {
  background: #367ebd;
}
