#grid {
  margin: 0 auto;
  width: 520px;
  height: 100%;
  cursor: pointer;
}

ul {
  list-style: none;
}

.cell {
  width: 25px;
  height: 25px;
  margin: 2px;
  margin-bottom: 0;
  border: 1px solid black;
  display: inline-block;
}

.active {
  background-color: red;
}
