html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, span, {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
  vertical-align: inherit
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
